h3{color: rgb(252, 243, 231); background-color: 	#008989;font-family: 'Chakra Petch', sans-serif;}
body{background-color: antiquewhite;}
h1{color: rgb(88, 88, 88); font-family: 'Bebas Neue', sans-serif;}
h2{color: rgb(88, 88, 88); font-family: 'Teko', sans-serif; font-size:xx-large;}
p{color: rgb(93, 92, 92); font-family: 'Permanent Marker', cursive; font-size:small;}
ol{color: rgb(93, 92, 92); font-family: 'Permanent Marker', cursive; font-size:small;}
li{color: rgb(93, 92, 92); font-family: 'Permanent Marker', cursive; font-size:small;}





